<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org/ ">
<html>
<head>
    <title>Kids Stories</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style first page.css" type="text/css" media="all"/>
    <script>
        function myFunction() {
            var input, filter, ul, li, a, i, b;
            input = document.getElementById("search2");
            filter = input.value.toUpperCase();
            ul = document.getElementById("body");
            li = ul.getElementsByTagName("div");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("h5")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";

                }
            }
        }
    </script>

    <script>
        function hiddenShow() {
            var x = document.getElementById("ch");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>

</head>
<body class="body2" id="body">

<table width="40%" style="float: left">
    <tr>
        <td>
            <!-- ******************* Logo ************** -->
            <form action="/GererConte" method="post" enctype="multipart/form-data">
                <input type="hidden" name="idAdmin" th:value="${idAdmin}">
                <input type="hidden" name="idConte" th:value="${idConte}">
                <button type="submit" name="index" style="width: 180px;border-radius: 5%;background-color: white">
                    <img src="images/logo.png" width="100%"></button>
                <button type="submit" name="logout" style="width: 50px;border-radius: 20%;background-color: white">
                    <img src="images/logOut.png" width="100%"></button>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <!-- ************************ Conte ******************** -->
            <div class="cardt">

                <img th:src="@{'data:image/jpg;base64,' +
            *{T(org.springframework.util.Base64Utils).encodeToString(img)}}" style="width:100%">

                <h5 th:text="${titre}" style="margin: 5px">titre de Conte</h5>

                <button type="submit" name="ajouMs" class="btnAjoutermt" onclick="hiddenShow()">Nouvelle Question
                </button>

                <form action="/GererConte" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="idConte" th:value="${idConte}">
                    <input type="hidden" name="idAdmin" th:value="${idAdmin}">
                    <button type="submit" name="play" class="btnAjoutermt">Play</button>
                </form>
            </div>
        </td>
    </tr>
</table>

<h3 th:text="${Erreur}" style="color:red"></h3>
<!-- ************** creation de Question *************** -->


<div class="cardhidden2" id="ch">
    <form action="/GererQuestion" method="post" enctype="multipart/form-data">
        <input type="hidden" name="idAdmin" th:value="${idAdmin}">
        <input type="hidden" name="idConte" th:value="${idConte}">

        <input class="text" placeholder="Question" name="titreQs" type="text" required="">
        <br/><br/>

        Image
        <input placeholder="Image" name="imgPage" type="file">
        <br/><br/>

        <!--Choisir un Categories
        <select name="categorie">
            <option th:each="lstcat : ${LstCat}"
                    th:value="${lstcat.idCategories}"
                    th:text="${lstcat.typeCategories}"></option>
        </select>
        <br/><br/>-->

        Mediascene
        <select name="meds">
            <option th:each="lstmsi : ${listMs}"
                    th:value="${lstmsi.idMediascene}"
                    th:text="'Page N° '+${lstmsi.numOrdre}"></option>
        </select>
        <br/><br/>

        <!--<input type="checkbox" name="r1" value="r1">-->
        <table style="margin-left: 15%; width: 70%">
            <tr>
                <td><p>Correct</p></td>
                <td><p>Proposition</p></td>
            </tr>
            <tr>
                <td><input type="radio" name="correcte" value="proposition1" checked></td>
                <td><input class="text" placeholder="Proposition 1" name="proposition1"
                           type="text" required="" style="width: 70%"></td>
            </tr>
            <tr>
                <td><input type="radio" name="correcte" value="proposition2"></td>
                <td><input class="text" placeholder="Proposition 2" name="proposition2"
                           type="text" required="" style="width: 70%"></td>
            </tr>
            <tr>
                <td><input type="radio" name="correcte" value="proposition3"></td>
                <td><input class="text" placeholder="Proposition 3" name="proposition3"
                           type="text" required="" style="width: 70%"></td>
            </tr>
        </table>


        <br/>
        <h3 th:text="${Erreur}" style="color:red"></h3>

        <input class="btnV" type="submit" name="ajouterQs" value="Valider">
        <input class="btnR" type="reset" name="reset" value="réinitialiser">
    </form>
</div>
<br/><br/>


<!-- ************************ Liste Question ******************** -->


<div class="cardi2q" th:each="lstQs: ${lstQs}">

    <div class="card">

        <form action="/GererQuestion" method="post" enctype="multipart/form-data">
            <input type="hidden" name="idQs" th:value="${lstQs.idQuestion}">
            <input type="hidden" name="idAdmin" th:value="${idAdmin}">
            <input type="hidden" name="idConte" th:value="${lstQs.idConte}">
            <!-- **************** Titre Question ************ -->
            <h5 style="margin: 5px" th:text="'Question : ' + ${lstQs.titre}">Titre de question</h5>
            <!-- **************** Categories et idMediascene *************** -->
            <h5 style="margin: 5px" th:text="${' Apres page N° ' + lstQs.getMediasceneByIdMediascene().getNumOrdre()}">
                Categories apres page n..</h5>
            <!-- **************** image *************** -->
            <img th:src="@{'data:image/jpg;base64,' +
            *{T(org.springframework.util.Base64Utils).encodeToString(lstQs.image)}}" style="width:100%">

            <div th:each="crep: ${lstQs.getReponsesByIdQuestion()}">
                <h5 style="margin: 5px" th:text="'1) ' + ${crep.getTexteReponse1()}"></h5>
                <h5 style="margin: 5px" th:text="'2) ' + ${crep.getTexteReponse2()}"></h5>
                <h5 style="margin: 5px" th:text="'3) ' + ${crep.getTexteReponse3()}"></h5>
            </div>

            <p>
                <button type="submit" name="modi" class="btnAjouter">Modifier Question</button>
            </p>
            <p>
                <button type="submit" name="supprimer" class="btnsupp">Supprimer</button>
            </p>

        </form>
    </div>
</div>


</body>
</html>
